@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Red+Rose:wght@400;500;600;700&display=swap');

body 
{
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App
{
  background: linear-gradient(90.96deg, #000000 0.86%, #000000 0.87%, rgba(0, 0, 0, 0.79) 97.62%);
}

a 
{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight:semi-bold;
  transition: all .25s ease-in;
  cursor: pointer;
}
a:hover 
{
  color: rgb(217, 0, 255);
}

.page 
{
  height: 100vh;

}

.middleHeading {
  font-size: 16rem;
  color: #555555;
  text-align: center;
  line-height: 1;
}

.answerPassage h1 {
  font-size: 2.5rem;
  color: white;
  padding: 0 3rem;
  z-index: 10;
}

.paragraphElement
{
  font-size: 1.5rem;
  color: white;
  padding: 0 3rem;
}


@media screen and (max-width:427px) {
  .page {
      height: 95vh;
      padding: 4rem 0 0;
    }
  .middleHeading {
      font-size: 5rem;
      margin: 3rem 0;
      padding: 0;
    }
  
    .answerPassage h1 {
      font-size: 1.6rem;
      padding:0 1rem;
    }
  
    .paragraphElement {
      font-size: 1.3rem;
      margin: 1rem 0;
    }
}

@media screen and (min-width:426px) and (max-width:769px) {

  .middleHeading {
      font-size: 7rem;
    }
  
    .answerPassage h1 {
      font-size: 1.6rem;
    }
  
    .paragraphElement {
      font-size: 1rem;
    }
}

@media screen and (min-width:769px) and  (max-width:1025px) {
  .middleHeading
  {
    font-size: 10rem;
  }
  .answerPassage h1{
    font-size: 2rem;
  }
  .paragraphElement 
  {
    font-size: 1rem;
  }
}
@media screen and (min-width:1026px)  and (max-width:1227px) {
  .middleHeading{
    font-size: 12rem;
  }
}
