.page 
{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0 0 5rem;
}

@media screen and (max-width:427px) {
    #homePage {
        height: 100vh;
    }
}