.page 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Red Rose', cursive;
    text-transform: uppercase;
}


.middleHeading
{
    font-size: 16rem;
    color: #555555;
    text-align: center;
}
.answerPassage
{
    font-size: 1.25rem;
    color: white;
    padding:0 3rem;
}

.heroImg 
{
    position: absolute;
    /* top: -200px; */
    left: 25vw;
    height: 100vw;
    width: 100vh;
    object-fit: cover;
    transform: rotate(90deg);
    filter: brightness(0.25);
    mix-blend-mode:screen ;
}

/* My edit 2 1 */

/* position: absolute;
width: 746px;
height: 1026px;
left: 694px;
top: -2px;

background: url(My edit 2.png);
filter: blur(5px); */