.page 
{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Red Rose', cursive;
    text-transform: uppercase;
    margin: 0 0 5rem;
}

.heroImg 
{
    position: absolute;
    /* top: -200px; */
    left: 25vw;
    width: 100%;
    object-fit: cover;
    transform: rotate(90deg);
    filter: brightness(0.28);
    mix-blend-mode:screen;
}
