@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

#meContent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3rem 0 0;
}
.meImage img 
{
    filter: grayscale(1);
    transition: all 0.5s ease;
}
.meImage img:hover 
{
    filter: grayscale(0);
}
.quoteDiv
{
    max-width: 700px;
    background-color: rgb(21, 21, 21);
    margin: 2rem;
    padding: 1rem 0;
    letter-spacing: 1.25px;
}
#quote {
    font-family: 'Explora', cursive;
}

.technicalInfoDiv
{
    font-family: 'Red Rose', sans-serif;
    color: white;
    text-align: center;
    padding: 2rem;
}
.techH1
{
    text-transform: uppercase;
    margin: 2rem 0;
    text-decoration: underline;
}
.iconsDiv h1
{
    text-align: left;
    margin: 1rem 5rem;
}
.subIconDiv
{
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.111);
    padding: 2rem 2rem 3rem ;
}
.icons
{
    font-size: 55px;
    margin: 1.25rem ;
    transition: all .25s ease;
}
.icons:hover 
{
    transform: scale(1.15);
    color: rgb(217, 0, 255);
    box-shadow: 1px 1px 100px rgb(217, 0, 255);
}
@media screen and (max-width:426px) {
    .page{
        height: calc(100% );
        
    }
    #meContent{
        flex-direction: column;
        margin: 8rem 0 0;
    }
    .meImage img{
        width: 100%;
    }
        .iconsDiv h1 {
            text-align: left;
            margin: 1rem;
        }
        .icons {
            font-size: 30px;
            margin: 1rem;
        }
    
}

@media screen and (min-width:426px) and (max-width:769px) {
    .meImage img {
        max-width: 400px;
    }
        .icons {
            font-size: 40px;
            margin: 1rem;
        }
}