.navbar 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(210, 210, 210, 0.14) 0%, rgba(217, 217, 217, 0.08) 100%);
    backdrop-filter: blur(20px);
    z-index: 10;
}
.logo 
{
    color: white;
    font-family: 'Red Rose', cursive;
}
.navLinks 
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.navLinks a
{
    padding: .5rem 1.25rem;
}
.Menu 
{
    color: white;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
}
.sidebar 
{
    background-color: grey;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: calc(68px);
    width: 350px;
    height: 450px;
}
.sidebar li 
{
    margin: 2rem 0;
    padding: 1rem 5rem;
    transition: all .85s ease;
    text-align: center;

}
.sidebar a
{
    padding: 0.85rem 1.25rem;
    margin: 1rem;
}

.sidebar li:hover
{
    background-color: black;
}

@media screen and (max-width:769px){
    .navLinks{
        display: none;
    }
    
}

@media screen and (min-width:770px) {
    .Menu{
        display: none;
    }
}